<div class="container">
  <div class="flex-container">
    <div class="input-group mb-3 searchBar">
      <input type="text" [(ngModel)]="filterText" (ngModelChange)="setQuery()" class="form-control"
             placeholder="Wpisz szukaną frazę..." id="search" type="search">
    </div>
  </div>
  <ul>
    <li *ngFor="let entry of items | slice:0:10 | filter:filterText">
      <app-blog-item
        [imageUrl]="entry.url"
        [text]="entry.id + entry.title | summary:50"
        (click)="showBlogEntry(entry.url, entry.title, entry.id)">
      </app-blog-item>
    </li>
  </ul>
</div>


