<ul class="nav navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="index.html"><h1>Strona główna</h1></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="quiz.html">Quiz</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="kontakt.html">Kontakt</a>
  </li>
</ul>
<div class="container-fluid content">
  <form>
    <fieldset>
      <legend>Uzupełnij dane:</legend>
      <div class="form-group">
        <label for="nameInput">Imię:</label>
        <input type="text" class="form-control" id="nameInput"
               placeholder="Podaj imie">
      </div>
      <div class="form-group">
        <label for="surnameInput">Nazwisko:</label>
        <input type="text" class="form-control" id="surnameInput"
               placeholder="Podaj nazwisko">
      </div>
      <div class="form-group">
        <label for="emailInput">E-mail:</label>
        <input type="text" class="form-control" id="emailInput"
               placeholder="Podaj email">
      </div>
      <label>Płeć:</label>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="optradio">Mężczyzna</label>
        <label class="radio-inline"><input type="radio" name="optradio">Kobieta</label>
      </div>
      <div class="form-group">
        <label for="descriptionInput">Opis:</label>
        <textarea class="form-control" id="descriptionInput" required></textarea>
      </div>
      <div class="form-group">
        <label for="ageInput">Wiek:</label>
        <input type="number" id="ageInput" min="1" max="200">
      </div>
      <div class="form-group">
        <label for="maritalStatusInput">Stan cywilny</label>
        <select class="form-control" id="maritalStatusInput" required>
          <option>Panna/Kawaler</option>
          <option>Mężatka/Żonaty</option>
          <option>Wdowa/Wdowiec</option>
        </select>
      </div>
      <input class="btn btn-primary" type="reset" value="Wyczyść">
      <input class="btn btn-primary" type="submit" value="Wyślij">
    </fieldset>
  </form>
</div>
