<div class="container-fluid content">
  <form [formGroup]="form">
    <fieldset>
      <legend>Uzupełnij dane:</legend>
      <div class="form-group">
        <label for="nameInput">Imię:</label>
        <input type="text" formControlName="name" class="form-control" id="nameInput"
               placeholder="Podaj imie" required>
        <div *ngIf="form.get('name').touched && form.get('name').invalid" class="alert alert-danger" required>Imię jest wymagane!</div>
      </div>
      <div class="form-group">
        <label for="surnameInput">Nazwisko:</label>
        <input type="text" formControlName="surname" class="form-control" id="surnameInput"
               placeholder="Podaj nazwisko" required>
        <div *ngIf="form.get('surname').touched && form.get('surname').invalid" class="alert alert-danger" required>Nazwisko jest wymagane!</div>
      </div>
      <div class="form-group">
        <label for="emailInput">E-mail:</label>
        <input type="email" formControlName="email" class="form-control" id="emailInput"
               placeholder="Podaj email" required>
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger" required>E-mail jest wymagany!</div>
      </div>
      <label>Płeć:</label>
      <div class="form-group" >
        <label class="radio-inline"><input type="radio" formControlName="gender" name="gender" value="gender1" required>Mężczyzna</label>
        <label class="radio-inline"><input type="radio" formControlName="gender" name="gender" value="gender2">Kobieta</label>
        <div *ngIf="form.get('gender').invalid" class="alert alert-danger" required>Płeć jest wymagana!</div>
      </div>
      <div class="form-group">
        <label for="descriptionInput">Opis:</label>
        <textarea class="form-control" formControlName="description" id="descriptionInput" required></textarea>
        <div *ngIf="form.get('description').touched && form.get('description').invalid" class="alert alert-danger" required>Opis jest wymagany!</div>
      </div>
      <div class="form-group">
        <label for="ageInput">Wiek:</label><br>
        <input type="number" formControlName="age" id="ageInput" min="1" max="200" required>
        <div *ngIf="form.get('age').touched && form.get('age').invalid" class="alert alert-danger" required>Wiek jest wymagany!</div>
      </div>
      <div class="form-group">
        <label for="maritalStatusInput">Stan cywilny</label>
        <select class="form-control" formControlName="maritalStatus"  id="maritalStatusInput" required>
          <option>Panna/Kawaler</option>
          <option>Mężatka/Żonaty</option>
          <option>Wdowa/Wdowiec</option>
        </select>
      </div>
      <input class="btn btn-primary" (click)="reset()" type="reset" value="Wyczyść">
      <input class="btn btn-primary" type="submit" value="Wyślij">
    </fieldset>
  </form>
</div>
